<div class="well">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>
        Rank
        </th>
        <th>
        Image
        </th>
        <th>
        Name
        </th>
        <th>
        Tag
        </th>
        <th>
        Main
        </th>
        <th>
        Secondary
        </th>
        <th>
        Win Ratio
        </th>
        <th>
        Elite
        </th>
    </thead>
    <tbody>
      <td>
        1
      </td>
      <td>
        <img style="width:80px;height:80px;" src="https://ronepraisephilly.files.wordpress.com/2017/10/15076582116267.jpg">
      </td>
      <td>
        {{user.name}}
      </td>
    </tbody>
  </table>
</div>
</div>
